*{
	box-sizing: border-box;
}

body{
	min-width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

#barra{
	background-color: mediumseagreen; 
	min-width: 100%;
	min-height: 10%;
	position: fixed;
	display: inline-block;
}

#login{
	float: right;
	width: 100%;
	height: 100%;
	padding-left: 25%;
	background-color: darkslategrey;
}

.none{
	display: none;
}

.block{
	display: block;	
}

#tit_login{
	color: white;
	font-family: sans-serif;
	display: inline-block;
	border-bottom: 5px solid mediumseagreen;
	padding-bottom: 5px;
	margin-right: 30%;

}

.cuadro{
	text-align: center;
	display: block;
	width: 70%;
	height: 5%;
	border: none;
	margin-bottom: 25px;
}

#imagen_logo{
	width: 65px;
	padding: 5px;
	margin-left: 1.2%;
	margin-top: 0.25%;
	float: left;
}

#tit_barra{
	display: inline-block;
	margin-top: 1%;
	margin-left: 2%;
}

#tit_barra1:hover{
	text-decoration: none;
	color: white;
}

.colorNuevo{
	color: #23527c;
}
.colorViejo{
	color: white;
}


#btnDisplay{
	background-color: mediumseagreen;
	color: black;
	width: 5%;
	display: inline-block;
	height: 5%;
}

#btnDisplay:hover{
	background-color: darkseagreen!important;
}

#tit_suiza{
	float: right;
	font-size: 150%;
	padding: 3px;
	border-bottom: 5px solid black;
	display: inline-block;
	margin-right: 8%;
	margin-top: 1.3%;
}


#tit_formulario{
	color: white;
	font-size: 35px;
}

@media (max-width: 800px){
	#mySidebar{
		width: 100%;
	}

	input{
		min-width: 75%;
		max-width: 75%;
	}
	
	#input_problema{
		min-width: 75%!important;
		max-width: 75%!important;
	}
	
	#tit_formulario{
		margin-top: 20%!important;
	}

	.signoDePregunta{
		display: none;
	}

	.informacion{
		display: none;
	}
}

@media (max-width: 1000px){
	#tit_formulario{
		margin-top: 15%;
	}
}

@media (min-width: 801px){
	#mySidebar{
		width: 45%;
	}
}

@media (min-width: 1200px){
	#mySidebar{
		width: 30%;
	}
}

#input_equipo{
	width: 30%;
}

.contenido{
		min-width: 100%;
		padding-top: 10%;
		min-height: 100%;
		background-image: url("../imagenes/ordenador_verde.png"), url("../imagenes/placa_madre2.png");
		background-size: auto, cover;
		background-repeat: no-repeat;
		background-position: 55% 100%, center;
		background-color: darkcyan;  /*#283C2C*/
		background-attachment: fixed;
}

.tabla{

		min-width: 100%;
		min-height: 100%;
		background-image: url("../imagenes/ordenador_verde.png"), url("../imagenes/placa_madre2.png");
		background-size: auto, cover;
		background-repeat: no-repeat;
		background-position: 55% 100%, center;
		background-color: darkcyan;  /*#283C2C*/
		background-attachment: fixed;
}

.texto{
	color: black;
	font-family: sans-serif;

	
}

#equipoDefectuoso{
	margin-top: 3%;

}

.formulario{
	display: inline-block;
	margin-left: 5%;
	margin-right: 1%;
	line-height: none;
	font-size: 25px;
	border: none;
}

#tit_formulario{
	margin-left: 5%;
	display: block;
	border-bottom: none;
	margin-bottom: 5%;
}

input{
	margin-left: 5%;
	width: 30%;
	height: 5%;
	border-radius: 15px;
	font-size: 125%;
	padding-left: 1%;
	display: inline-block;
}

#input_problema{
	border-radius: 15px;
	margin-top: 5%;
	padding: 10px;
	min-width: 30%;
	max-width: 30%;
	min-height: 20%; 
	max-height: 20%; 
	
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 100px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#submit{
	background-color: mediumseagreen;
	color: white;
	font-size: 25px;
	margin-top: 5%;
	margin-left: 5%;
	border: none;
	width: 15%;
}

#submit:hover{
	background-color: white;
	color: mediumseagreen;
	cursor: default;
}


.signoDePregunta{
	color: #1C3823;
	display: inline-block;
}

.signoDePregunta:hover{
	color: mediumseagreen;
	cursor: default;
}

#Enviar{
	background-color: white;
	color: mediumseagreen;
	border: none;
}

#Enviar:hover{
	background-color: mediumseagreen;
	color: white;
}

form{
	padding-top: 120px;
	text-align: center;
	font-size: 30px;
}

th{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	padding: 7px;
}

#info1{
	background-color: darkslategrey;
	position: relative;
	margin-left: 3%;
	padding: 3%;
	border-radius: 25px;
}

#info2{
	background-color: darkslategrey;
	position: relative;
	padding: 1.5%;
	margin-left: 3%;
	padding: 3%;
	border-radius: 25px;
}

.oculto{
	filter: opacity(0%);
}

.visible{
	filter: opacity(100%);
}

.txtInfo{
	color: mediumseagreen;
	font-size: 15px;
}

#salir{
	background-color: white;
	color: mediumseagreen;
	border: none;
	border-radius: 40px;
	margin-top: 50px;
	width: 250px; 
	height:40px;
	padding-bottom: 65px;
	text-align: center;
	display: block;
	
	
}

#salir:hover{
	background-color: mediumseagreen;
	color: white;
}
#lista_tabla{
	background-color: mediumseagreen;
    padding: 10.5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
	border: none;
    border-radius: 40px;  
    width:310px;
    height:50px; 
    text-align: center;
	display: block;
    
}
#lista_tabla:hover{
	background-color: white;
	color: mediumseagreen;
}
table {
  margin: 15px;
  padding: 10px;

}

a:link
{
text-decoration:none;
}

#error{
	color: white;
	text-align:center;
	margin:auto;
	padding-bottom: 5px;
	margin-right: 30%;|
}

#Cerrar_Sesion{
	color: white;
	margin-top: 100px;
	margin-left: 5%;
	font-family:  'Roboto', sans-serif;
	display: inline-block;
	border-bottom: 5px solid mediumseagreen;
	padding-bottom: 5px;
}

#reporte{
	color: white;
	font-family:  'Roboto', sans-serif;
	font-size: 25px;
	margin-left: 5%;
	margin-top: 1%;

}

td{
	padding: 7px;
}



.btn-asignar:hover{
	background-color: darkseagreen!important;
}

#tabla{
	border-color: darkslategrey;	
	border-collapse: collapse;
	text-align: center;

}

.modal-footer{
	border: none;
}

#aqui{
	padding-bottom: 30px;
}


.modal-header{
	background-color: mediumseagreen;
}

.modal-title{
	color: white;
	font-family:  'Roboto', sans-serif;
	font-size: 25px;
}

.btn-enviar{
	background-color: mediumseagreen!important;
	font-family:  'Roboto', sans-serif!important;
	font-size: 18px;
	color: white!important;
	border-radius: 25px!important;
	border: none;
}

.btn-enviar:hover{
	background-color: white!important;
	color: mediumseagreen!important;
}


.box {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: 35px;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.box:hover input ~ .checkmark {
  background-color: #ccc;
}


.box input:checked ~ .checkmark {
  background-color: mediumseagreen;
}





